<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
 <script async defer src="<%= umami.url %>" data-website-id="<%= umami.id %>" data-auto-track="false"></script>
</head>
<body>
  <div id="lti_root"></div>
  <script src="/app.bundle.js"></script>
</body>
</html>
